git_how_to
CLEANER/cleaner
CLEANER/main.o
CREATES_PDB/obj/
CREATES_PDB/output/
MESHER/obj/
MESHER/output/
ROTATOR/main.o
ROTATOR/rotator
SOLVER/build/gcc/Coloring/main.o
SOLVER/build/gcc/Diff/main.o
SOLVER/build/gcc/ElectricPotential/main.o
SOLVER/build/gcc/EqnSolver/main.o
SOLVER/build/gcc/EqnSolverExample/EqnSolverExample_cpp.o
SOLVER/build/gcc/EqnSolverExample/EqnSolverExample_for.o
SOLVER/build/gcc/FEMSolver/main.o
SOLVER/build/gcc/FEMSolverExample/FEMSolverExample_cpp.o
SOLVER/build/gcc/FEMSolverExample/FEMSolverExample_for.o
SOLVER/build/gcc/FEMT/Assembler.o
SOLVER/build/gcc/FEMT/Debug.o
SOLVER/build/gcc/FEMT/File.o
SOLVER/build/gcc/FEMT/Float.o
SOLVER/build/gcc/FEMT/Format.o
SOLVER/build/gcc/FEMT/Formula.o
SOLVER/build/gcc/FEMT/Integer.o
SOLVER/build/gcc/FEMT/Log.o
SOLVER/build/gcc/FEMT/MatFile.o
SOLVER/build/gcc/FEMT/Memory.o
SOLVER/build/gcc/FEMT/Mesh.o
SOLVER/build/gcc/FEMT/Partition.o
SOLVER/build/gcc/FEMT/Random.o
SOLVER/build/gcc/FEMT/Shape.o
SOLVER/build/gcc/FEMT/ShapeFunctions.o
SOLVER/build/gcc/FEMT/String.o
SOLVER/build/gcc/FEMT/Time.o
SOLVER/build/gcc/Heat/main.o
SOLVER/build/gcc/METIS/balance.o
SOLVER/build/gcc/METIS/bucketsort.o
SOLVER/build/gcc/METIS/ccgraph.o
SOLVER/build/gcc/METIS/coarsen.o
SOLVER/build/gcc/METIS/compress.o
SOLVER/build/gcc/METIS/debug.o
SOLVER/build/gcc/METIS/estmem.o
SOLVER/build/gcc/METIS/fm.o
SOLVER/build/gcc/METIS/fortran.o
SOLVER/build/gcc/METIS/frename.o
SOLVER/build/gcc/METIS/graph.o
SOLVER/build/gcc/METIS/initpart.o
SOLVER/build/gcc/METIS/kmetis.o
SOLVER/build/gcc/METIS/kvmetis.o
SOLVER/build/gcc/METIS/kwayfm.o
SOLVER/build/gcc/METIS/kwayrefine.o
SOLVER/build/gcc/METIS/kwayvolfm.o
SOLVER/build/gcc/METIS/kwayvolrefine.o
SOLVER/build/gcc/METIS/match.o
SOLVER/build/gcc/METIS/mbalance.o
SOLVER/build/gcc/METIS/mbalance2.o
SOLVER/build/gcc/METIS/mcoarsen.o
SOLVER/build/gcc/METIS/memory.o
SOLVER/build/gcc/METIS/mesh.o
SOLVER/build/gcc/METIS/meshpart.o
SOLVER/build/gcc/METIS/mfm.o
SOLVER/build/gcc/METIS/mfm2.o
SOLVER/build/gcc/METIS/mincover.o
SOLVER/build/gcc/METIS/minitpart.o
SOLVER/build/gcc/METIS/minitpart2.o
SOLVER/build/gcc/METIS/mkmetis.o
SOLVER/build/gcc/METIS/mkwayfmh.o
SOLVER/build/gcc/METIS/mkwayrefine.o
SOLVER/build/gcc/METIS/mmatch.o
SOLVER/build/gcc/METIS/mmd.o
SOLVER/build/gcc/METIS/mpmetis.o
SOLVER/build/gcc/METIS/mrefine.o
SOLVER/build/gcc/METIS/mrefine2.o
SOLVER/build/gcc/METIS/mutil.o
SOLVER/build/gcc/METIS/myqsort.o
SOLVER/build/gcc/METIS/ometis.o
SOLVER/build/gcc/METIS/parmetis.o
SOLVER/build/gcc/METIS/pmetis.o
SOLVER/build/gcc/METIS/pqueue.o
SOLVER/build/gcc/METIS/refine.o
SOLVER/build/gcc/METIS/separator.o
SOLVER/build/gcc/METIS/sfm.o
SOLVER/build/gcc/METIS/srefine.o
SOLVER/build/gcc/METIS/stat.o
SOLVER/build/gcc/METIS/subdomains.o
SOLVER/build/gcc/METIS/timing.o
SOLVER/build/gcc/METIS/util.o
SOLVER/build/gcc/MatSolver/main.o
SOLVER/build/gcc/Partitioning/main.o
SOLVER/build/gcc/Solid/main.o
SOLVER/build/gcc/libFEMSolver.a
SOLVER/build/gcc/libFEMSolver/Assembler.o
SOLVER/build/gcc/libFEMSolver/Debug.o
SOLVER/build/gcc/libFEMSolver/Float.o
SOLVER/build/gcc/libFEMSolver/Format.o
SOLVER/build/gcc/libFEMSolver/Integer.o
SOLVER/build/gcc/libFEMSolver/Log.o
SOLVER/build/gcc/libFEMSolver/Memory.o
SOLVER/build/gcc/libFEMSolver/Mesh.o
SOLVER/build/gcc/libFEMSolver/Shape.o
SOLVER/build/gcc/libFEMSolver/Time.o
SOLVER/build/gcc/libFEMSolver/libFEMSolver.o
SOLVER/build/gcc/libFEMT.a
SOLVER/build/gcc/libMETIS.a
SOLVER/gid/problemtypes/Coloring.gid/Coloring
SOLVER/gid/problemtypes/ElectricPotential.gid/ElectricPotential
SOLVER/gid/problemtypes/Heat.gid/Heat
SOLVER/gid/problemtypes/Partitioning.gid/Partitioning
SOLVER/gid/problemtypes/Solid.gid/Solid
SOLVER/tools/Diff
SOLVER/tools/EqnSolver
SOLVER/tools/EqnSolverExample_cpp
SOLVER/tools/EqnSolverExample_for
SOLVER/tools/FEMSolver
SOLVER/tools/FEMSolverExample_cpp
SOLVER/tools/FEMSolverExample_for
SOLVER/tools/MatSolver
bin/extract_ATOM
bin/mesh2pdb
bin/meshsolver
bin/octree_mesh
bin/shear_rotate


